<div class="callout warning callout--full" data-closable>
  <h2><b>edit me !</b></h2>
  <pre>decidim-polis/app/views/decidim/polis/admin/polis/show.html.erb</pre>
  <button class="close-button" aria-label="Dismiss alert" type="button" data-close="">
    <span aria-hidden="true">×</span>
  </button>
</div>
