.links-container{
	display: flex;
    justify-content: space-around;
}

.appendAdminLink{
	display: inline;
}

.admin-btn{
	color: #ef604d;
	font-size: 20px;
	padding-left: 20px;
	padding-right: 25px
}