.polis-header{
  padding: 0 20px 20px 0;
}
.links-container{
	display: flex;
  justify-content: space-around;
}

.appendAdminLink{
	display: inline;
}

.admin-btn{
	color: #ef604d;
	font-size: 18px;
  &:hover{
    opacity: 0.6;
    color: #ef604d;
  }
}